<!-- Header content for the layout.html file -->

<!-- HEADER -->
<header class="row page-header thumbnail">
	
	<!--LOGO-->
  	<div class="col-sm-5 col-md-4 hidden-xs"><a href="#"><img src="../static/images/logo_choo!.png" alt="Logo de C.Hoo!.com" title="C.Hoo!.com" width="439.93" height="150"></a></div>
  	<div class="col-xs-6 col-xs-offset-3 visible-xs-block"><a href="#"><img src="../static/images/logo_choo!.png" alt="Logo de C.Hoo!.com" title="C.Hoo!.com" width="293.29" height="100"></a></div>
	
	<!--PICKUP LINE-->
	<div class="col-md-8 hidden-xs hidden-sm pickupLine"><span>Localise une adresse et apprends<br>son histoire avec GrandPy Bot</span></div>
	<div class="col-sm-7 visible-sm-block hidden-xs pickupLine" id="pickupLineMedium"><span>Localise une adresse et apprends<br>son histoire avec GrandPy Bot</span></div>
	<div class="col-xs-12 visible-xs-block pickupLine" id="pickupLineSmall">GrandPy Bot</div>			

</header>
