<!-- Main content for the layout.html file -->


{% extends 'layout.html' %}
{% block title %}GrandPy Bot{% endblock %}
{% block main %}

<main>		
	<!--DIALOG AREA-->
	<article class="row messagesPage">
		<!--MESSAGES-->
		<!--GrandPy Bot Welcome Message-->
		<p class="well"><img src="../static/images/grandpy.png" alt="Icone de GrandPy Bot" title="Icone de GrandPy Bot" width="70" height="70" class="grandpyPic">Salut à toi, ô jeune être en recherche !<br>
		Mon grand âge m'a donné une longue expérience de la géographie et de l'histoire.<br>
		Teste donc mes connaissances...</p>
		<!--User's Input Text-->
		<div class="well" id="textUserDiv"><img src="../static/images/user.png" alt="Icone de l'utilisateur" title="Icone de l'utilisateur" width="70" height="70" id="userPic"><span id="textUser"></span></div>
		<!--GrandPy Bot giving a random message and displaying the address if any-->
		<div class="well" id="address"><img src="../static/images/grandpy.png" alt="Icone de GrandPy Bot" title="Icone de GrandPy Bot" width="70" height="70" class="grandpyPic"><span id="answerAddress"></span><br><span id="addressGlobal" class="ivoryColor"></span></div>
		<!--GrandPy Bot giving a random message and the place story with Wikipedia if any-->
		<div class="well wikilink" id="wikiHistory"><img src="../static/images/grandpy.png" alt="Icone de GrandPy Bot" title="Icone de GrandPy Bot" width="70" height="70" class="grandpyPic"><span id="answerStory"></span><br><span id="extractWiki" class="ivoryColor"></span><br><span id="linkWikipedia"></span></div>
		
 		<!--LOADER-->
		<div class="fa-3x" id="loader">
 		  <i class="fa fa-spinner fa-pulse"></i>		  
		  <span id="thinking">Voyons, voyons, laisse-moi réfléchir un peu...</span>
		</div>
	</article>

	<!--INPUT FORM-->
	<section class="row">
		<form class="col-md-12 form-inline" role="form">
			<h1><legend class="label label-info">Trouve une adresse
			<div class="row">
				<div class="col-md-9 col-sm-11 input-group pad">
					<input type="text" id="textInput" name="text" class="form-control input-lg" placeholder="Entre le lieu que tu recherches">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default input-lg col-md-12 col-sm-12" title="Rechercher" id="submit"><span class="glyphicon glyphicon-search largeIcon" aria-hidden="true"></span></button>
					</span>
				</div>
			</div>
			</legend></h1>
		</form>
	</section>	

	<!--GOOGLE MAP LAYOUT-->
	<section class="row" id="mapPlace">
		<div class="col-md-12 thumbnail" id="map"></div>

		<!--Google Maps JavaScript query-->				
		<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ config['GOOGLE_MAPS_KEY_JS'] }}&callback=initMap"></script>
	</section>
</main>

{% endblock %}
