/* TEMPLATES CSS */


/* HEADER CSS */

.commonCss {
    font-family: "Libre Baskerville";
    font-weight: 700;
    text-align: center;
    color: rgb(65, 79, 225);
}

#siteNameBig {
    font-size: 40px;
    padding-top: 30px;
}

#pickupLine {
    font-size: 20px;
    color: rgb(191, 74, 26);
    padding-top: 10px;
}

#siteNameSmall {
    font-size: 30px;
    padding-top: 20px;
}

/*header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    position: absolute;
}*/


/* HOME CSS */

[class*="col"] {
    margin-bottom: 20px;
}

/* All the messages */
article {
    line-height: 20px;
}

.messagesPage {
    background-color: rgba(248, 220, 216, .6);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: Philosopher;
    font-weight: 400;
    font-size: 20px;
    padding : 10px 20px 50px 20px;
    color: rgb(65, 79, 225);
;
}

.well {
    background-color: lightgray;
    padding: 20px;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

/* User query message */
#textUser {
    color: rgb(191, 74, 26);
    display: none;
}

/* GrandPy Bot displaying the address */
#address {
    display: none;
}

/* GrandPy Bot address history with Wikipedia */
#wikiHistory {
    display: none;
}

/* GrandPy & User's Icons */
.grandpyPic, #userPic {
    margin-right : 20px;
    margin-bottom : 10px;   
}

/* Loader */
#loader {
    margin-left: 15%;
    display: none;
}

#thinking {
    font-size: 20px;
}

/* Input form */
.pad {
    padding-top: 40px;
}

.largeIcon {
    font-size: 175%;
    padding-top: 5px;
}

/* Google Map */
#map {
    height: 500px;
    width: 100%;
    display: none;
}


/* FOOTER CSS */

.footerFrame {
    padding: 7px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(240, 173, 78);
    text-align: center;
}

.myName {
    font-family: Montserrat;
    font-weight: 200;
    font-size: 14px;
    border: 1px solid white;
    padding: 7px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.myName a {
    text-decoration: none;
}
.myName a:hover {
    color: ivory;
}
.myName a:active {
    color: black;
}
