/* CSS FOR TEMPLATES */



/* HEADER CSS */

.pickupLine {
    font-family: "Libre Baskerville";
    font-weight: 700;
    text-align: center;
    color: rgb(191, 74, 26);
    font-size: 30px;
    padding-top: 30px;    
}

#pickupLineMedium {
    font-size: 20px;
}

#pickupLineSmall {
    padding-top: 20px;
}



/* HOME CSS */

[class*="col"] {
    margin-bottom: 20px;
}

/* All the messages */
article {
    line-height: 20px;
}

.messagesPage {
    background-color: rgba(248, 220, 216, .6);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: Philosopher;
    font-weight: 400;
    font-size: 20px;
    padding : 10px 20px 50px 20px;
    color: rgb(72, 37, 131);
}

.well {
    background-color: lightgray;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

.ivoryColor {
    color: ivory;
}

#notIvory {
    color: rgb(72, 37, 131);
}

/* The Input Form */

.labelFireFox {
    display: block;   /* To debug the Bootstrap label class for FireFox browser */
}

.pad {
    padding-top: 40px;
}

.largeIcon {
    font-size: 175%;
    padding-top: 5px;
}

/* GrandPy & User's Icons */
.grandpyPic, #userPic {
    margin-right : 20px;
    margin-bottom : 10px;
}

/* The User Query */
/* User query message */
#textUserDiv {
    color: rgb(191, 74, 26);
    display: none;
}

/* The Loader */
#loader {
    margin-left: 15%;
    display: none;
}

#thinking {
    font-size: 20px;
}

/* The Address */
/* GrandPy Bot displaying the address */
#address {
    display: none;
}
/* Link to the map place. */
.toMap a {
    text-decoration: none;
}
.toMap a:link {
    color: rgb(72, 37, 131);
}
.toMap a:visited {
    color: rgb(72, 37, 131);
}
.toMap a:hover {
    color: ivory;
}
.toMap a:active {
    color: black;
}

/* The Story */
/* GrandPy Bot address history with Wikipedia */
#wikiHistory {
    display: none;
}
/* Link to Wikipedia. */
.wikilink a {
    text-decoration: none;
}
.wikilink a:link {
    color: rgb(72, 37, 131);
}
.wikilink a:visited {
    color: rgb(72, 37, 131);
}
.wikilink a:hover {
    color: ivory;
}
.wikilink a:active {
    color: black;
}

/* The Google Map */
#map {
    height: 500px;
    width: 100%;
    display: none;
}



/* FOOTER CSS */

.footerFrame {
    padding: 7px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(240, 173, 78);
    text-align: center;
}

/* Link to my LinkedIn. */
.myName {
    font-family: Montserrat;
    font-weight: 200;
    font-size: 14px;
    border: 1px solid white;
    padding: 7px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.myName a {
    text-decoration: none;
}
.myName a:hover {
    color: ivory;
}
.myName a:active {
    color: black;
}



/* ERROR 404 */

#errorH1 {
    text-align: center;
    margin-top: 50px;
}

#errorH2 {
    text-align: center;
    margin-bottom: 200px;
}
