<!-- Footer content for the layout.html file -->

<!-- FOOTER -->
<footer class="row white frame">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12"></div>
		</div>
		<div class="row social-buttons">
			<div class="col-md-2 col-md-offset-1 col-sm-6 col-sm-offset-3 col-xs-4 col-xs-offset-1 name">Jean-François Subrini</div>
			<div class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-3 hidden-xs"><a href="https://github.com/jfsubrini/project7_grandpy_bot" class="btn btn-block btn-social btn-github"><span class="fa fa-github"></span>See my GitHub</a></div>
			<div class="col-xs-2 col-xs-offset-1 visible-xs-inline"><a href="https://github.com/jfsubrini/project7_grandpy_bot" class="btn btn-social-icon btn-github"><span class="fa fa-github"></span></a></div>
			<div class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-3 hidden-xs"><a href="https://twitter.com/jfsubrini" class="btn btn-block btn-social btn-twitter"><span class="fa fa-twitter"></span>Follow me in Twitter</a></div>
			<div class="col-xs-2 col-xs-offset-1 visible-xs-inline"><a href="https://twitter.com/jfsubrini" class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a></div>
		</div>
	</div>
</footer>
