<!-- Header content for the layout.html file -->

<!-- HEADER -->
<header class="row page-header thumbnail">
	<!--LOGO-->
  	<div class="col-sm-5 col-md-4 hidden-xs"><a href="p7.html"><img src="../static/images/logo_c_ou.png" alt="Logo de Céou.com" title="Céou.com" width="266.67" height="150"></a></div>
  	<div class="col-xs-6 col-xs-offset-4 visible-xs-block"><a href="p7.html"><img src="images/logo_c_ou.png" alt="Logo de Céou.com" title="Céou.com" width="177.78" height="100"></a></div>
	<!--PICKUP LINE-->
	<div class="col-sm-7 col-md-8 hidden-xs pickup logo"><span class="pickup pickup1">C-Oú ? com</span><br><span class="pickup pickup2">Localise une adresse et<br>apprends un peu de son histoire avec GrandPy Bot</span></div>
	<div class="col-xs-12 visible-xs-block pickup pickup3">C-Oú ? com</div>			
</header>
