<!-- Main content for the layout.html file -->


{% extends 'layout.html' %}
{% block title %}GrandPy Bot{% endblock %}
{% block main %}

<main>		
	<!--DIALOG AREA-->
	<article class="row messagesPage">
		<!--MESSAGES-->
		<!--GrandPy Bot Welcome Message-->
		<p class="well"><img src="../static/images/grandpy.png" alt="Icone de GrandPy Bot" title="Icone de GrandPy Bot" width="70" height="70" class="grandpyPic">Salut à toi, ô jeune être en recherche !<br>
		Mon grand âge m'a donné une longue expérience de la géographie et de l'histoire.<br>
		Teste donc mes connaissances...</p>
		<!--User's Input Text-->
		<p class="well" id="textUser"><img src="../static/images/user.png" alt="Icone de l'utilisateur" title="Icone de l'utilisateur" width="70" height="70" id="userPic"></p>
		<!--GrandPy Bot displaying the address-->
		<p class="well" id="address"><img src="../static/images/grandpy.png" alt="Icone de GrandPy Bot" title="Icone de GrandPy Bot" width="70" height="70" class="grandpyPic">{{ addressAnswser }} {{ globalAddress }}</p>
		<!--GrandPy Bot address history with Wikipedia-->
		<p class="well" id="wikiHistory"><img src="../static/images/grandpy.png" alt="Icone de GrandPy Bot" title="Icone de GrandPy Bot" width="70" height="70" class="grandpyPic">{{ storyAnswer }} {{ wikiExtract }}
		<!-- <blockquote><abbr title="Wikipedia">Wikipedia</abbr> nous raconte ceci :<br>{{ first_2_sentences }}<small class="pull-right">Wikipedia</small><br></blockquote><a href="https://fr.wikipedia.org/wiki/{{ openclassrooms }}" id="wikilink">- En savoir plus sur Wikipedia.</a> --></p>

		<!--LOADER-->
		<div class="fa-3x" id="loader">
 		  <i class="fa fa-spinner fa-pulse"></i>		  
		  <span id="thinking">Voyons, voyons, laisse-moi réfléchir un peu...</span>
		</div>
	</article>

	<!--INPUT FORM-->
	<section class="row">
		<form class="col-md-12 form-inline">
			<h1><legend class="label label-info">Trouve une adresse
			<div class="row">
				<div class="col-md-9 col-sm-11 input-group pad">
					<input type="text" class="form-control input-lg" placeholder="Entre le lieu que tu recherches">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default input-lg col-md-12 col-sm-12" title="Rechercher" id="submit"><span class="glyphicon glyphicon-search largeIcon" aria-hidden="true"></span></button>
					</span>
				</div>
			</div>
			</legend></h1>
		</form>
	</section>

	<!--IN THE CASE THAT THERE IS NO ADDRESS-->
	<!-- <div class="form-group has-warning has-feedback">
		<label class="control-label" for="idWarning">Avertissement</label>
		<input type="text" class="form-control imput-md" id="idWarning" placeholder="Entrez l'adresse à chercher">
		<span class="glyphicon glyficon-warning-sign form-control-feedback"></span>
		<span class="help-block">Il y a un problème dans la saisie</span>
	</div>
	<script>
		$(function() {
			$("form").on("submit", function() {
				if($("input").val().lenght < 4) {
					$("div.form-group").addClass("has-error");
					$("div.alert").show("slow").delay(4000).hide("slow");
					return false;					
				}
			});
		});
	</script>
	-->		

	<!--GOOGLE MAP LAYOUT-->
	<section class="row">
		<div class="col-md-12 thumbnail" id="map"></div>

		<!--Script JavaScript in the static file and js sub file-->
		<script src="../static/js/googleAPI.js"></script>
				
		<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ config['GOOGLE_MAPS_KEY_JS'] }}&callback=initMap">	
		</script>
	</section>

</main>

{% endblock %}
